# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-cli
dist-server
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Heap dumps
*.hprof

# Test coverage
coverage/
cov-*/
coverage-*/

# Playwright test results & reports
test-results/
playwright-report/
test-script-paste.cjs
